section span
{
    text-align: center;
}

input[type="text"], input[type="password"]
{
    border: 1px solid #ececec;
    border-radius: 5px;
    
    height: 6vh;
    width: 20vw;
    
    padding-left: 2vw;
}

input[type="text"]
{
    background: #ececec url("../images/icon_user.png") no-repeat;
    background-size: 3.5vh;
    background-position: left center;
}

input[type="password"]
{
    background: #ececec url("../images/icon_password.png") no-repeat;
    background-size: 3.5vh;
    background-position: left center;
}

input[type="button"]
{
    border: none;
    border-radius: 5px;
    
    width: 15vw;
    height: 6vh;
    
    color: white;
    background: #00ffe2;
    
    cursor: pointer;
    
    transition: all 0.3s ease;
}
input[type="button"]:hover
{
    background: #ff00ff;
}

p
{
    font-size: 1.2rem;
}

p.success
{
    color: #00ff00;
}

p.error
{
    color: red;
}

p.waiting
{
    color: #00c4ff;
}

p img
{
    vertical-align: middle;
    height: 1.2rem;
}