@font-face
{
    font-family: OpenSansLight;
    src: url(OpenSans-Light.ttf);
}

@font-face
{
    font-family: CalligraffittiRegular;
    src: url(Calligraffitti-Regular.ttf);
}

*
{
    margin: 0;
    padding: 0;

    font-size: 1rem;
    font-family: OpenSansLight, sans-serif;

    outline: none;

    cursor: auto;
}