header
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 10%;

    background: rgb(240, 240, 240);
    
    z-index: 99;
}

header div:nth-child(1)
{
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100% / 3);
    height: 100%;

    display: table;
}

header div:nth-child(2)
{
    position: absolute;
    top: 0;
    left: calc(100% / 3);
    width: calc(100% / 3);
    height: 100%;

    background: url("../images/logo.png") no-repeat;
    background-size: auto 6vh;
    background-position: center;
}

header div:nth-child(3)
{
    position: absolute;
    top: 0;
    right: 0;
    width: calc(100% / 3);
    height: 100%;

    display: table;
}

header div span
{
    display: table-cell;
    vertical-align: middle;

    text-align: center;
    
    width: calc(100% / 3);

    transition: all 0.3s ease;

    cursor: pointer;

    border-radius: 5px;

    color: black;

    font-size: 1.2rem;
}
header div span.current
{
    color: #00C6FB;

    font-size: 1.5rem;
}
header div span:hover
{
    color: rgb(212, 0, 255);

    transform: scale(1.2);
}

header div span a
{
    text-decoration: inherit;
    color: inherit;
    font-size: inherit;

    cursor: pointer;
}