main
{
    position: absolute;
    top: 10%;
    left: 0;
    width: 100%;
    height: 20%;

    display: table;

    background: rgba(255, 255, 255, 0.452);
}

main span
{
    display: table-cell;
    vertical-align: middle;

    text-align: center;

    font-size: 3rem;

    color: black;
}

main span b
{
    vertical-align: top;

    font-size: 3rem;

    font-weight: normal;

    background: linear-gradient(to top, #00C6FB, #F913DE);
    background-clip: text;
    -webkit-text-fill-color: transparent;

    transition: opacity 0.1s linear;
}

main span i
{
    font-size: inherit;
    text-decoration: inherit;
    font-style: inherit;

    transition: all 0.3s linear;

    border-bottom: 1px solid transparent;
}