nav
{
    position: absolute;
    top: 30%;
    left: 0;
    width: 100%;
    height: 10%;

    display: table;

    background: rgb(240, 240, 240);

    filter: drop-shadow(0 3px 1px grey);
}

nav span
{
    display: table-cell;
    vertical-align: middle;

    text-align: center;
}

nav span input
{
    border: none;

    width: 20vw;
    height: 5vh;

    cursor: pointer;

    color: white;
    background: linear-gradient(to right, #DD00EA, #00C6FB);

    border-radius: 5px;

    transition: all 0.5s ease;

    filter: drop-shadow(1px 1px 1px black);
}
nav span input:hover
{
    transform: scale(1.2);
}