section
{
    position: absolute;
    bottom: 0;
    left: 35%;
    width: 30%;
    height: 50%;

    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

    border-top: 3px solid transparent;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    border-image: linear-gradient(to bottom right, #00C6FB 0%, #F913DE 100%);
    border-image-slice: 1;

    transition: opacity 0.3s ease;
}

section div
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    transition: all 1s ease;
}

section div:nth-child(1)
{
    background: white url("../images/documents.png") no-repeat;
    background-size: cover;
    opacity: 1;
}

section div:nth-child(2)
{
    background: white url("../images/articles.png") no-repeat;
    background-size: cover;
    opacity: 0;
}

section div:nth-child(3)
{
    background: white url("../images/cours.png") no-repeat;
    background-size: cover;
    opacity: 0;
}

section div:nth-child(4)
{
    background: white url("../images/présentations.png") no-repeat;
    background-size: cover;
    opacity: 0;
}

section div:nth-child(5)
{
    background: white url("../images/notes.png") no-repeat;
    background-size: cover;
    opacity: 0;
}