section
{
    position: absolute;
    top: 30%;
    left: 20%;
    width: 60%;
    height: 60%;

    /* background: red; */

    display: table;
}

section span
{
    display: table-cell;
    vertical-align: middle;

    text-align: justify;

    font-size: 1.3rem;
}

a
{
    font-size: 1.3rem;

    color: rgb(255, 0, 157);

    cursor: pointer;

    transition: all 0.3s ease;
}

a:hover
{
    color: rgb(0, 255, 106);
}

b
{
    font-size: inherit;
    
    color: #ff9300;
}

ul
{
    margin-left: 2vw;
    
    list-style-type: none;
}