@keyframes animate
{
    0%
    {
        filter: drop-shadow(1px 1px 1px black);
    }

    50%
    {
        filter: drop-shadow(1px 1px 10px black);
    }

    100%
    {
        filter: drop-shadow(1px 1px 1px black);
    }
}

html
{
    scroll-behavior: smooth;
}

body
{
    background: url("../images/test.jpg") no-repeat;
    background-size: cover;

    overflow: auto;
    scroll-behavior: smooth;
}

main
{
    background: transparent;
}

main span
{
    color: white;
}

#page1
{
    position: absolute;
    top: 20%;
    left: 25%;
    width: 50%;
    height: 60%;

    display: table;
}

#page1 span
{
    display: table-cell;
    vertical-align: middle;

    text-align: center;

    font-size: 1.5rem;

    color: white;

    text-shadow: 1px 1px 1px black;
}

#page1 span h1
{
    font-size: 2.5rem;

    font-weight: normal;

    font-family: CalligraffittiRegular;

    margin-bottom: 10vh;

    text-shadow: 1px 1px 5px black;
}

#page1 span h1 img
{
    max-height: 30px;
    vertical-align: middle;
}

#page1 span h1 .quote_up
{
    vertical-align: text-top;
}

#page1 span h1 .quote_down
{
    vertical-align: text-bottom;
}

#page1 span h1 b
{
    font-family: inherit;
    font-size: inherit;    
}

#nextArrow
{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 20%;

    display: table;
}

#nextArrow span
{
    display: table-cell;
    vertical-align: middle;

    text-align: center;

    cursor: pointer;
}


#nextArrow span img
{
    max-height: 100px;
    height: 8vh;

    filter: drop-shadow(1px 1px 1px rgb(0, 255, 157));

    animation: animate;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;

    transition: all .5s ease;

    cursor: pointer;

    border-radius: 50%;

    padding: 1vh;
}

#nextArrow span:hover img
{
    animation-play-state: paused;

    background: rgb(0, 255, 157);
}

#page2
{
    position: absolute;
    top: 120%;
    left: 10%;
    width: 80%;
    height: 100%;

    border-bottom: 3px solid black;
    border-image: linear-gradient(to right, #00C6FB 0%, rgb(212, 0, 255) 100%);
    border-image-slice: 1;
}

#page2 #title
{
    position: absolute;
    top: 0;
    left: 0;
    width: 40%;
    height: 40%;

    display: table;
}

#page2 #title span
{
    display: table-cell;
    vertical-align: middle;

    text-align: justify;

    font-family: CalligraffittiRegular;

    font-size: 2.5rem;
}

#page2 #description
{
    position: absolute;
    top: 40%;
    left: 0;
    width: 40%;
    height: 60%;

    display: table;
}

#page2 #description span
{
    display: table-cell;
    vertical-align: top;

    text-align: justify;

    font-size: 1.2rem;
}

a
{
    font-size: inherit;

    color: rgb(255, 0, 157);

    cursor: pointer;

    transition: all 0.3s ease;
}

a:hover
{
    color: rgb(0, 255, 106);
}

#page2 #image
{
    position: absolute;
    top: 5%;
    right: 0;
    width: 40%;
    height: 90%;

    background: url("../images/features_modules.png") no-repeat;
    background-size: 100%;
    background-position: center;
}

#page3
{
    position: absolute;
    top: 220%;
    left: 10%;
    width: 80%;
    height: 100%;

    border-bottom: 3px solid black;
    border-image: linear-gradient(to right, #00C6FB 0%, rgb(212, 0, 255) 100%);
    border-image-slice: 1;
}

#page3 #title
{
    position: absolute;
    top: 0;
    right: 0;
    width: 40%;
    height: 40%;

    display: table;
}

#page3 #title span
{
    display: table-cell;
    vertical-align: middle;

    text-align: justify;

    font-family: CalligraffittiRegular;

    font-size: 2.5rem;
}

#page3 #description
{
    position: absolute;
    top: 40%;
    right: 0;
    width: 40%;
    height: 60%;

    display: table;
}

#page3 #description span
{
    display: table-cell;
    vertical-align: top;

    text-align: justify;

    font-size: 1.2rem;
}

#page3 #image
{
    position: absolute;
    top: 5%;
    left: 0;
    width: 40%;
    height: 90%;

    background: url("../images/features_security.png") no-repeat;
    background-size: 100%;
    background-position: center;
}

#page4
{
    position: absolute;
    top: 320%;
    left: 10%;
    width: 80%;
    height: 100%;

    border-bottom: 3px solid black;
    border-image: linear-gradient(to right, #00C6FB 0%, rgb(212, 0, 255) 100%);
    border-image-slice: 1;
}

#page4 #title
{
    position: absolute;
    top: 0;
    left: 0;
    width: 40%;
    height: 40%;

    display: table;
}

#page4 #title span
{
    display: table-cell;
    vertical-align: middle;

    text-align: justify;

    font-family: CalligraffittiRegular;

    font-size: 2.5rem;
}

#page4 #description
{
    position: absolute;
    top: 40%;
    left: 0;
    width: 40%;
    height: 60%;

    display: table;
}

#page4 #description span
{
    display: table-cell;
    vertical-align: top;

    text-align: justify;

    font-size: 1.2rem;
}

#page4 #image
{
    position: absolute;
    top: 5%;
    right: 0;
    width: 40%;
    height: 90%;

    background: url("../images/features_collaboration.png") no-repeat;
    background-size: 100%;
    background-position: center;
}

#page5
{
    position: absolute;
    top: 420%;
    left: 10%;
    width: 80%;
    height: 100%;
}

#page5 #title
{
    position: absolute;
    top: 0;
    right: 0;
    width: 40%;
    height: 40%;

    display: table;
}

#page5 #title span
{
    display: table-cell;
    vertical-align: middle;

    text-align: justify;

    font-family: CalligraffittiRegular;

    font-size: 2.5rem;
}

#page5 #description
{
    position: absolute;
    top: 40%;
    right: 0;
    width: 40%;
    height: 60%;

    display: table;
}

#page5 #description span
{
    display: table-cell;
    vertical-align: top;

    text-align: justify;

    font-size: 1.2rem;
}

#page5 #image
{
    position: absolute;
    top: 5%;
    left: 0;
    width: 40%;
    height: 90%;

    background: url("../images/features_respect.png") no-repeat;
    background-size: 100%;
    background-position: center;
}